*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(253, 252, 252);
    min-height: 100vh;
    overflow-x: hidden; 
}
@font-face {
    font-family: Barlow;
    src: url(../fonts/QUARTZO\ ©\ PERSONAL\ USE\ ONLY.ttf)

}
@font-face {
    font-family: Anton;
    src: url(../fonts/QUARTZO\ ©\ PERSONAL\ USE\ ONLY.ttf);
}
@font-face {
    font-family: interextra;
    src: url(../fonts/QUARTZO\ ©\ PERSONAL\ USE\ ONLY.ttf);
}
@font-face {
    font-family: inter;
    src: url(../fonts/QUARTZO\ ©\ PERSONAL\ USE\ ONLY.ttf);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2000;
    display: flex;
    justify-content: space-around;
    transition: 0.5s;
}
header .logo{
    position: relative;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.8%;
    
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
header ul li{
    list-style: none;
   
}
header ul a{
    position: relative;
    margin: 10%;
    text-decoration: none;
    letter-spacing: 1px;
    transition: 0.5s;
    color: white;
}
header.abajo{
    background-color: #008026;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    
    z-index: 10;
}
section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
}

.yoyo   {
    margin-top: 5%;
    color: white;
  
}
.titulo{
    display: flex;
    justify-content: center;

}
.text{
    text-align: justify;
    font-family: inter  ;
    font-size: 1.1rem; 
    
}
.des:first-letter{
    font-size: 3rem;
    color: #ffffff;
    font-weight: bold;
}
.foton{
    display: flex;
    justify-content: center;
}
.fyo{
    margin-top: 13%;
}
.ocul{
    display: none;
}
.show{
    display: block;
}
.boton{
    display: flex;
    justify-content: center;
}
.but:hover{
 background-color:#fdfdfd;
 color: white;
}
.linea {
    border-top: 2px solid white ;
    height: 1px;
    max-width: 100%;
    border-radius: 100%;
}
.diego img{
    width: 100%;
    justify-content: center;
}

.hijo1 img{
    width: 45%;
    justify-content: right;
    
}

.hijo2 img{
    width: 43%;

}

.hijo3 img{
width: 40%;
}

.hijo4 img{
    width: 43%;
}

.doss{
    margin-top: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    background-color:  #008026;
}
.estu{
    font-size: 3rem;
    color: white;
    font-family: Anton;
    letter-spacing: 3px;
}
.estu::first-letter{
    color: #fcfffd;
    font-size: 3.5rem;
}

.estudi{
    margin-top: 8%;
    height: 70%;
    background-color: #1b1b1b;
    border: 10px solid #008026;
}

.desc{
    background-color: #008026;
    margin-top: 7%;
}
.descripcion{
    color: white;
    font-family: inter;
    font-size: 1.7rem;
    margin-top: 0.5%;  
}
.description2{
    font-family: inter;
    margin-top: 0.5% ;
    margin-left: 1%;
    font-size: 1.7rem;
    color: #008026;
}
.cones{
    display: flex;
    align-items: top;
}
.desc2{
    background-color: #008026;
    margin-top: 2%;
}.estudi2{
    margin-top: 2%;
    height: 70%;
    background-color: #1b1b1b;
    border: 10px solid #E42524;
}
.descripcion3{
    color: #E42524;
    font-size: 1.7rem;
    margin-right: 1%;
    margin-top: 0.5%;
    font-family: inter;
}
.description4{
    font-family: inter;
    margin-top: 0.5% ;
    margin-left: 1%;
    font-size: 1.7rem;
    color: white;
}
.cones2{
    display: flex;
    align-items: top;
    justify-content: end;
}
.desc3{
    background-color: #1b1b1b;
    margin-top: 2%;
}
.estudi3{
    margin-top: 2%;
    height: 70%;
    background-color: #1b1b1b;
    border: 10px solid #E42524;
}
.eduno{
    display: none;
}
.edusi{
    display: block;
}
.but2{
    margin-top: 2%;
}
.but2:hover{
   
    background-color:#E42524;
    color: white;
 }
 .linea2{
    margin-top: 3%;
    border-top: 2px solid white ;
    height: 1px;
    max-width: 100%;
    border-radius: 100%;
 }
 .cajash{
    background-color: #1b1b1b;
    margin-top: 5%;
 }
 .htitu{
    background-color: #E42524;
    color: white;
    font-family: Anton;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .conesh{
    display: flex;
    align-items: top;
    margin-left: 3%;
 }
 .descripcioh{
    font-family: inter;
    margin-top: 3% ;
    margin-left: 1%;
    font-size: 1.4rem;
    color: white;
 }
 .descriptionh{
    color: #E42524;
    font-size: 1.4rem;
    margin-left: 3%;
    margin-top: 3%;
    font-family: inter;
 }
 .habilin{
    display: none;
 }
 .habilis{
    display: block;
 }
 .traba{
    margin-top: 5%;
    display: flex;
    justify-content: center;
 }
 .trabas{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .trabass{
    margin-top: 5%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .trabas2{
    margin-bottom: 6%;
    display: flex;
    justify-content: center;
  
 }

 .mod{
    margin-top: 9%;
 }
 .mod:hover{
    background-color: rgb(79, 79, 79);
    opacity: 50%;
 }
 .traba2{
    margin-top: 5%;
 }

 .trabano{
    display: none;
 }
 .trabasi{
    display: block;
 }
 .servi{
    margin-top: 5%;
 }

.conimg{
    margin: 10% 5%;
}
.tcard{
    text-align: margin;
    color: #fdfdfd;
    font-family: Anton;
}
.servi1{
    color: white;
    font-family: inter;
    text-align: justify;
}
.ima1{
    margin-top: 7%;
}
.carta{
    margin-top: 15%;
}
.olasss{
   margin-bottom: 10%;
}.carta2{
    margin-top: 9%;
}
.carta3{
    margin-top: 6%;
}
.bm{
    margin-bottom: 3%;
}
.footer{
    background-color: #008026;
}
.cont{
    margin-top: 10%;
}
.contacto{
    color: white;
    font-family: Anton;
    font-size: 5rem;
    text-align: center;
    letter-spacing: 15px;
}
.vmodal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    z-index: 2001;
    display: none;
}
.vmodal-show{
    display: block;
}
.vmodal_container{
    border-radius: 3%;
    margin: auto;
    width: 40%;
    background-color: #1b1b1b;
    
}

.vmti{
    font-family: Anton;
    color: #008026;
    text-align: center;
    margin-top: 3%;
}
.vmodal_des{
    display: flex;
    justify-content: center;
}
.vmtext{
    color: white;
    font-family:inter;
    margin: 5%;
    text-align: justify;
}
.mimg{
    display: flex;
    justify-content: center;
}
.vmodal_close{
    display: flex;
    justify-content: center;
}
.but5{
    margin: 3%;
}
.but5:hover{
    background-color: #008026;
    color: white;
}
.vmodal2{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    z-index: 2001;
    display: none;
}
.vmodal-show2{
    display: block;
}
.vmodal-show3{
    display: block;
}
.vmodal-show4{
    display: block;
}
.vmodal-show5{
    display: block;
}
